<!--<div id="exportthis" class="container" pdf-save-content="idOne" style="margin-top: 60px; width:960px">-->
<div id="exportthis" class="container" pdf-save-content="idOne" style="margin-top: 60px; width: 1020px;">
    <button id="export" ng-click="export()" type="submit" class="btn btn-primary" data-loading-text="Loading..." promise-btn>pdf 출력</button>
    <button ng-click="export_xls()" type="submit" class="btn btn-primary" data-loading-text="Loading...">xls 출력</button>
    <a href="/saisei_report/" ng-click="back()" class="btn btn-primary">back</a>
    <!--<button pdf-save-button="idOne" pdf-name="someone.pdf" class="btn">print as pdf</button>-->
    <!--<button pdf-save-button="idOne" pdf-name="someone.pdf" class="btn">print report as pdf</button>-->
    <div id="first_page">
        <div id="page_header" class="page-header">
            <h1>Saisei Report</h1>
            <p>보고서 기간 : ({{from}} ~ {{until}})</p>
        </div>
        <!--<div class="page-header" style="width: 600px">-->
            <!--<h2>주간 인터페이스({{ int_name }}) 트래픽</h2>-->
        <!--</div>-->

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div id="int_grp" class="panel panel-default">
                    <div class="panel-heading">인터페이스 트래픽({{ int_name }})</div>
                    <div class="panel-body">

                        <canvas id="line" class="chart chart-line" chart-data="data"
                                chart-labels="labels" chart-series="series" chart-options="options"
                                chart-dataset-override="datasetOverride" chart-colors="colors">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="tbl" class="col-lg-12 col-sm-12">
                <!--<a class="btn btn-primary" title="Export Table" ng-click='interface.generate()' ng-href="{{ interface.link() }}" download="interface.csv">Export csv</a>-->
                <table id="table1" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>날짜</th>
                        <th>수신 트래픽(Mbyte/s)</th>
                        <th>송신 트래픽(Mbyte/s)</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!--<tr ng-repeat="avg in int_avg_set">-->
                            <!--<td>{{$index + 1}}</td>-->
                            <!--<td>{{avg.date}}</td>-->
                            <!--<td>{{avg.rcv_avg | number: 2}}</td>-->
                            <!--<td>{{avg.trs_avg | number: 2}}</td>-->
                        <!--</tr>-->
                        <tr ng-repeat="data in int_data">
                            <td>{{$index+1}}</td>
                            <td>{{ data.date }}</td>
                            <td>{{ data.rcv_avg }} Mbyte/s</td>
                            <td>{{ data.trs_avg }} Mbyte/s</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="second_page">
        <!--<div class="page-header" style="width: 600px">-->
            <!--<h2>주간 사용자 트래픽</h2>-->
        <!--</div>-->
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">사용자 트래픽</div>
                    <div class="panel-body">

                        <!--<canvas id="line" class="chart chart-line" chart-data="data"-->
                                <!--chart-labels="labels" chart-series="series" chart-options="options"-->
                                <!--chart-dataset-override="datasetOverride" chart-colors="colors">-->
                        <!--</canvas>-->

                        <canvas id="users" class="chart-horizontal-bar"
                                chart-data="_users_data" chart-labels="_users_label"
                                chart-series="_users_series">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="tbl" class="col-lg-12 col-sm-12">
                <!--<a class="btn btn-primary" title="Export Table" ng-click='user_traffic.generate()' ng-href="{{ user_traffic.link() }}" download="user_traffic.csv">Export csv</a>-->
                <table id="table2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>TOP #</th>
                        <th>사용자</th>
                        <th>기간</th>
                        <th>총 사용량</th>
                        <th>다운로드 사용량</th>
                        <th>업로드 사용량</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in _users_tb_data">
                        <td>{{$index+1}}</td>
                        <td>{{ user.name }}</td>
                        <td>{{user.from}} ~ {{user.until}}</td>
                        <td>{{ user.total }} Mbit/s</td>
                        <td>{{ user.down }} Mbit/s</td>
                        <td>{{ user.up }} Mbit/s</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>